.stats {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-gap: 1rem;
	&-card {
		border: 1px solid #fff;
		border-radius: 8px;
		padding: 15px;
		background-color: #fff;
		box-shadow: 0 3px 20px rgba(71, 71, 73, 0.08), 0 1px 3px rgba(0, 0, 0, 0.08);
		margin-bottom: 15px;
		width: 100%;

		&-name {
			margin: 0 0 10px;
			font-size: 0.813rem;
		}

		&-count {
			font-weight: 500;
			font-size: 1.25rem;
			margin-top: 12px;
			font-family: 'BRFirma-bold';
		}
	}
}
