@import 'styles/variables';
.dashboard {
	&__flex {
		margin-top: 30px;
		display: flex;
		justify-content: space-between;

		@include tablet {
			flex-direction: column;
		}

		@include for-tablet-up {
			align-items: center;
		}

		&-note {
			@include tablet {
				margin-bottom: 20px;
			}
		}
	}
}
